/*光标替换-小蓝点*/
html {
	cursor: url(../img/blue_cursor_default.cur), auto;
	background-color: rgba(0, 0, 0, 0);
}
a[href] {
	cursor: url(../img/blue_cursor_pointer.cur), auto !important;
	background-color: rgba(0, 0, 0, 0);
}
.banner {
	cursor: url(../img/blue_cursor_default.cur), auto;
	background-color: rgba(0, 0, 0, 0);
}
.scroll-down-bar {
	cursor: url(../img/blue_cursor_pointer.cur), auto ;
	background-color: rgba(0, 0, 0, 0);
}
/* 搜索框、输入框 */
input, textarea {
	/*cursor: url(/img/IBeam.cur),auto;    /* 这里应该是竖条光标 */
	background-color: rgba(0, 0, 0, 0);
}
#local-search-close.close {
	cursor: url(../img/blue_cursor_pointer.cur), auto ;
	background-color: rgba(0, 0, 0, 0);
}
/* 按钮 */
button[class] {
	cursor: url(../img/blue_cursor_pointer.cur), auto !important;
	background-color: rgba(0, 0, 0, 0);
}

/* 补充按钮 */
svg {
	cursor: url(../img/blue_cursor_pointer.cur), auto !important;
	background-color: rgba(0, 0, 0, 0);
}